#animation{
    width:80%;
    margin:auto;
    text-align: center;
  }

  .hoop{
    position: relative;
    width: 250px;
    height: 250px;
    margin:4px;
    display:inline-block;
    
    top: 300px;
  }
  
  .basketball{
    position: relative;
    width: 120px;
    height: 120px;
    margin:4px;
    display:inline-block;
    
    top: 300px;
    right: 300px;
  }