<div> 
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

<form id="searchTeam" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="search" placeholder="Which team would you like to search?"></textarea>
	<button type="submit">Search</button>
</form>
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
        <label>Select Multiple Teams
        <select 12 Teams>
            <option value="team1">Dream</option>
            <option value="team2">Sky</option>
            <option value="team3">Sun</option>
            <option value="team4">Fever</option>
            <option value="team5">Liberty</option>
            <option value="team6">Mystics</option>
            <option value="team7">Wings</option>
            <option value="team8">Aces</option>
            <option value="team9">Sparks</option>
            <option value="team10">Lynx</option>
            <option value="team11">Mercury</option>
            <option value="team12">Storm</option>

        </select>
        </label>
    </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/generic/rectangle-1.jpg">
        <div class="card-section">
            <!-- Top Center -->
            <button class="button" type="button" data-toggle="example-dropdown-top-center">Add</button>
            </div>
            <!-- Bottom Center -->
            <button class="button" type="button" data-toggle="example-dropdown-bottom-center">Delete</button>
            </div>
        </div>
      </div>
    </div>
    <div class="cell">
        <label>Your Team
        <select Only Five5>
            <option value="value1">One</option>
            <option value="value2">Two</option>
            <option value="value3">Three</option>
            <option value="value4">Four</option>
            <option value="value5">Five</option>
        </select>
        </label>
    </div>
    <!-- Bottom Center -->
    <button class="button" type="button" data-toggle="example-dropdown-bottom-center">Save</button>
    </div>
  </div>
</div>



{{!-- <script type="text/javascript">
    $(".delete").on("click", function(event) {
        let id = $(this).data("teambox");

        $.ajax("/api/ /" + id, {
        type: "DELETE"
        }).then(
            function() {
            console.log("deleted id ", id);
            location.reload();
            }
        );
    });
</script> --}}