<div>
  {{>navbar/nav}}
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-7 cell">
        <h3> Build Your Team</h3>
      </div>
    </div>
  </div>

{{!-- <form id="player" class="button-size" method="post" action="/players">
          <input type="text" name="player_name" placeholder="search">
          
        </form> --}}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div id="select-team" class="cell">
      <form id="player" class="button-size" >
        <label style= "color: white">Select a Player </label>
            <ul>
                {{#each players }}
            <li id= "playerName" >{{name}}       <button class="addBtn" style= "color: white" data-player="{{name}}"> add </button></li> 
            {{/each}}
            </ul>
          
           
       

   
        {{!-- <button id="addBtn" type="button" data-toggle="example-dropdown-top-center"
          data-apiId="{{playerId}}">Add</button> --}}
      </form>
    </div>
    <div class="cell">


      <div id="results">
        <ul id= "resultsList"> 

        </ul>
      </div>


      <form>
        <label for="tName"> Team Name:</label>
        <input type="text" name="tName">
        <button id="saveBtn" type="button" data-toggle="example-dropdown-top-center">Save</button>
      </form>
    </div>
  </div>
</div>




{{!-- Anime.js --}}
{{!-- <div id = "animation">  --}}
   

<div id = "animation">
    <img src="/assets/img/WNBA.png" class='player'>
    <img src="/assets/img/ball.png" class="basketball">
    {{!-- <img src="/assets/img/basketballgoal.png"class="hoop"> --}}

</div>
<div id="basketball"></div>
<svg xmlns="http://www.w3.org/2000/svg" width="645" height="525" viewBox="0 0 645 525">
  <g id="Ellipse_1" data-name="Ellipse 1" opacity ='0' fill="none" stroke="#707070" stroke-width="1">
    <ellipse cx="222.5" cy="-20.5" rx="322.5" ry="262.5" stroke="none"/>
    <ellipse cx="352.5" cy="-150.5" rx="322" ry="262" fill="none"/>
  </g>
</svg>

<style>
  .basketball{
    position: absolute;
    left: 600px;
    top: 450px;
  }
  .hoop {
    position: absolute;
    right: 530px;
    bottom: 100px;
    
  }
  .player{
    position: absolute;
    left: 400px;
    top: 500px;
  }
</style>


  <!-- 
  add functionality db PUT call to create a team 
  store team_name and user_id 
  get db call to receive user_id 
  -->

  <script>
    $(document).ready(function () {

      //variables 

      var add = $(".addBtn");
      var save = $("#saveBtn");
     // var name = $("#playerName");
      var resultsDiv = $("#results");
      var h4 = $("<h4>");
      var listDiv = $("#resultsList");
     
     
      //var addPlayer = 


      var currentTeam = [];
      var index = 0;
     
      //console.log(remove)
        // remove.on("click"),
      //onclick for add button 

      add.on("click", function (event) {
        event.preventDefault();
        console.log("clicked add");
        var name = $(this).data("player");
         //var addPlayer = $("#playerName").val();
  //      var newPlayer = {
    //      team_id: ,
      //    player_name: name
        //}
     //   var newTeam = {
      //    team_name: null,
      //    user_id: 
      //  }
        index++
           if( index === 12){
              alert("Reach player limit. Save team ")
            }
        currentTeam.push(name);
        console.log("currentteam array", currentTeam);
        
        teamList();
    var remove = $("#removeBtn");
    remove.on("click", function (event){
    console.log("removed button clicked")
    //var num = $("data-number")
    //  currentTeam.splice(,1)
    })
       // console.log("value of name", $("#playerName").val());
        })

//h4.text(currentTeam);
        //append tag 
     //   $(resultsDiv).append(h4);


        // var newPlayer = {
        //     api_player_id: apiId,
        //     player_name: 

        // }
        // $.ajax("api/player", )

        //create a player when added 
        //post create player
        //api call to 
        //get player 
        //add player to card 
 

      save.on("click", function (event) {
        event.preventDefault();
        console.log("clicked save");
        //create a team when save is clicked
        //post create team
        // redirect to view team page
      })
        function createPlayer(){
          $.ajax('', {
            type: "POST", 
            data: newplayer
          }).then(
            function (){
              console.log("player created");
              location.reload();
            }
          )
        }
        function createTeam(){
          $.ajax("", {

          })
        }

        function teamList (){
          listDiv.html("")
          for(var i= 0; i < currentTeam.length; i++){
            var li = $("<li>");
            var btn = $("<button>");
            
            li.text(currentTeam[i]); 
            btn.text("remove");

            li.attr("style","color:white");
            btn.attr("class","success button ");
            btn.attr("id",`removeBtn ${i}`);
    

            li.append(btn);
            listDiv.append(li);
          }   
                
        }
    

    const path = anime.path('ellipse');
    anime({
        targets: '.basketball',
        translateY: path('y'),
        translateX: path('x'),
        duration: 5000,
            rotate:{
            value: '1turn',
            easing: 'cubicBezier(.5, .05, .1, .3)'
            },
            easing: 'linear',
            loop: true
    });
  });


  </script>