<div>
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

{{!-- <form id="searchTeam" class="button-size" method="post" action="/players">
          <input type="text" name="player_name" placeholder="search">
          <button> search</button>
        </form> --}}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div id="select-team" class="cell">
      <form>
        <label>Select Menu
          <select>
            {{#each players }}
            <option id= "playerName">{{name}}</option>
            {{/each}}
          </select>
        </label>

  
        {{!-- <button id="addBtn" type="button" data-toggle="example-dropdown-top-center"
          data-apiId="{{playerId}}">Add</button> --}}
      </form>
    </div>
    <div class="cell">


      <div id="results"></div>


      <form>
        <label for="tName"> Team Name:</label>
        <input type="text" name="tName">
        <button id="saveBtn" type="button" data-toggle="example-dropdown-top-center">Save</button>
      </form>
    </div>
  </div>
</div>





  {{!-- <script type="text/javascript">
    $(".delete").on("click", function (event) {
      let id = $(this).data("teambox");

      $.ajax("/api/ /" + id, {
        type: "DELETE"
      }).then(
        function () {
          console.log("deleted id ", id);
          location.reload();
        }
      );
    });
  </script> --}}


  <!-- 
  add functionality db PUT call to create a team 
  store team_name and user_id 
  get db call to receive user_id 
  -->

  <script>
    $(document).ready(function () {

      //variables 

      var add = $("#addBtn");
      var save = $("#saveBtn");
      var name = $("#playerName");
      var resultsDiv = $("#results");
      var h4 = $("<h4>");


      var currentTeam = [];
      var index = 0;

      //onclick for add button 

      add.on("click", function (event) {
        event.preventDefault();
        console.log("clicked add");
        var apiId = $(this).data("playerId")

        index++

        currentTeam.push($("#playerName").val());
        console.log("currentteam array", currentTeam);
        console.log("value of name", $("#playerName").val());


        h4.text(currentTeam);
        //append tag 
        $(resultsDiv).append(h4);


        // var newPlayer = {
        //     api_player_id: apiId,
        //     player_name: 

        // }
        // $.ajax("api/player", )

        //create a player when added 
        //post create player
        //api call to 
        //get player 
        //add player to card 
      })

      save.on("click", function (event) {
        event.preventDefault();
        console.log("clicked save");
        //create a team when save is clicked
        //post create team
        // redirect to view team page
      })


    });


  </script>