<div> 
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

{{!-- <form action="/user" method="post"></form> --}}
<div class="search-results-box">
    <label>Search</label>
    <input type="search" name="search" />
</div>
<form class="build-your-team-form"></form>
    <div class="grid-container">
        <div class="row align-justify"></div>
            <div class="col-sm-4">
                <div class"columns medium-4">column</div>
            </div>
            <div class="col-sm-4">
                <button class"columns medium-2" type="add">ADD</button>
                <button class"columns medium-2" type="delete">Trash</button>
            </div>
            <div class="col-sm-4">
                <div class="teambox">
                    <div class"columns medium-4">column</div>
                </div>
            </div>
            <div>
                <button type="save">SAVE</button>
            </div>
        </div>
    </div>
</form>