<div>
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

{{!-- <form id="player" class="button-size" method="post" action="/players">
          <input type="text" name="player_name" placeholder="search">
          
        </form> --}}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div id="select-team" class="cell">
      <form id="player" class="button-size" >
        <label style= "color: white">Select a Player </label>
            <ul>
                {{#each players }}
            <li id= "playerName" >{{name}}       <button class="addBtn" style= "color: white" data-player="{{name}}"> add </button></li> 
            {{/each}}
            </ul>
          
           
       

   
        {{!-- <button id="addBtn" type="button" data-toggle="example-dropdown-top-center"
          data-apiId="{{playerId}}">Add</button> --}}
      </form>
    </div>
    <div class="cell">


      <div id="results">
        <ul id= "resultsList"> 

        </ul>
      </div>


      <form>
        <label for="tName"> Team Name:</label>
        <input type="text" name="tName">
        <button id="saveBtn" type="button" data-toggle="example-dropdown-top-center">Save</button>
      </form>
    </div>
  </div>
</div>





  {{!-- <script type="text/javascript">
    $(".delete").on("click", function (event) {
      let id = $(this).data("teambox");

      $.ajax("/api/ /" + id, {
        type: "DELETE"
      }).then(
        function () {
          console.log("deleted id ", id);
          location.reload();
        }
      );
    });
  </script> --}}


  <!-- 
  add functionality db PUT call to create a team 
  store team_name and user_id 
  get db call to receive user_id 
  -->

  <script>
    $(document).ready(function () {

      //variables 

      var add = $(".addBtn");
      var save = $("#saveBtn");
     // var name = $("#playerName");
      var resultsDiv = $("#results");
      var h4 = $("<h4>");
      var listDiv = $("#resultsList");
     
     
      //var addPlayer = 


      var currentTeam = [];
      var index = 0;
     
      //console.log(remove)
        // remove.on("click"),
      //onclick for add button 

      add.on("click", function (event) {
        event.preventDefault();
        console.log("clicked add");
        var name = $(this).data("player");
         //var addPlayer = $("#playerName").val();
  //      var newPlayer = {
    //      team_id: ,
      //    player_name: name
        //}
     //   var newTeam = {
      //    team_name: null,
      //    user_id: 
      //  }
        index++
           if( index === 12){
              alert("Reach player limit. Save team ")
            }
        currentTeam.push(name);
        console.log("currentteam array", currentTeam);
        
        teamList();
    var remove = $("#removeBtn");
    remove.on("click", function (event){
    console.log("removed button clicked")
    //var num = $("data-number")
    //  currentTeam.splice(,1)
    })
       // console.log("value of name", $("#playerName").val());
        })

//h4.text(currentTeam);
        //append tag 
     //   $(resultsDiv).append(h4);


        // var newPlayer = {
        //     api_player_id: apiId,
        //     player_name: 

        // }
        // $.ajax("api/player", )

        //create a player when added 
        //post create player
        //api call to 
        //get player 
        //add player to card 
 

      save.on("click", function (event) {
        event.preventDefault();
        console.log("clicked save");
        //create a team when save is clicked
        //post create team
        // redirect to view team page
      })
        function createPlayer(){
          $.ajax('', {
            type: "POST", 
            data: newplayer
          }).then(
            function (){
              console.log("player created");
              location.reload();
            }
          )
        }
        function createTeam(){
          $.ajax("", {

          })
        }

        function teamList (){
          listDiv.html("")
          for(var i= 0; i < currentTeam.length; i++){
            var li = $("<li>");
            var btn = $("<button>");
            
            li.text(currentTeam[i]); 
            btn.text("remove");

            li.attr("style","color:white");
            btn.attr("class","success button ");
            btn.attr("id",`removeBtn ${i}`);
    

            li.append(btn);
            listDiv.append(li);
          }   
                
        }
    });


  </script>