<div> 
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3



{{!-- <script type="text/javascript">
    $(".delete").on("click", function(event) {
        let id = $(this).data("teambox");

        $.ajax("/api/ /" + id, {
        type: "DELETE"
        }).then(
            function() {
            console.log("deleted id ", id);
            location.reload();
            }
        );
    });
</script> --}}