<div> 
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

<form id="searchTeam" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="search" placeholder="Which team would you like to search?"></textarea>
	<button type="submit">search</button>
</form>
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
        <label>Multiple Select Menu
        <select multiple>
            <option value="showboat">Showboat</option>
            <option value="redwing">Redwing</option>
            <option value="narcho">Narcho</option>
            <option value="hardball">Hardball</option>
        </select>
        </label>
    </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/generic/rectangle-1.jpg">
        <div class="card-section">
            <!-- Top Center -->
            <button class="button" type="button" data-toggle="example-dropdown-top-center">Toggle Dropdown</button>
            <div class="dropdown-pane" data-position="top" data-alignment="center" id="example-dropdown-top-center" data-dropdown data-auto-focus="true">
            <!-- My dropdown content in here -->
            </div>
            <!-- Bottom Center -->
            <button class="button" type="button" data-toggle="example-dropdown-bottom-center">Toggle Dropdown</button>
            <div class="dropdown-pane" data-position="bottom" data-alignment="center" id="example-dropdown-bottom-center" data-dropdown data-auto-focus="true">
            <!-- My dropdown content in here -->
            </div>
        </div>
      </div>
    </div>
    <div class="cell">
        <label>Multiple Select Menu
        <select multiple>
            <option value="showboat">Showboat</option>
            <option value="redwing">Redwing</option>
            <option value="narcho">Narcho</option>
            <option value="hardball">Hardball</option>
        </select>
        </label>
    </div>
    <!-- Bottom Center -->
    <button class="button" type="button" data-toggle="example-dropdown-bottom-center">Toggle Dropdown</button>
    <div class="dropdown-pane" data-position="bottom" data-alignment="center" id="example-dropdown-bottom-center" data-dropdown data-auto-focus="true">
    <!-- My dropdown content in here -->
    </div>
  </div>
</div>



{{!-- <script type="text/javascript">
    $(".delete").on("click", function(event) {
        let id = $(this).data("teambox");

        $.ajax("/api/ /" + id, {
        type: "DELETE"
        }).then(
            function() {
            console.log("deleted id ", id);
            location.reload();
            }
        );
    });
</script> --}}