<div> 
  {{>navbar/nav}}
</div>

<h3> Build Your Team</h3>

{{!-- <form action="/user" method="post"></form> --}}

<form class="build-your-team-form"></form>
    <div class="grid-container">
        <label>Search</label>
        <input type="search" name="search" />
    </div>
    <div>
        <button type="save">SAVE</button>
    </div>
    <div class="row align-justify">
        <div class="col-sm-4">
            <div class="search-results-box">
                <div class"columns medium-4">column</div>
            </div>
        </div>
        <div class="col-sm-4">
            <button class"columns medium-2" type="add">ADD</button>
            <button class"columns medium-2" type="delete">Trash</button>
        </div>
        <div class="col-sm-">
            <div class="team-box">
            <div class"columns medium-4">column</div>
            </div>
        </div>
        <button type="save">SAVE</button>
    </div>
</form>