<div> 
  {{>navbar/nav}}
</div>


<h2>Edit Teams</h2>

<!--lIST OF PLAYERS, DELETE BUTTON IS LOCATED NEXT TO EACH PLAYER-->
 <div class="grid-container">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
         <div id="edit-team">
         <table class = "player_list">
    
            <tr>
                <th> Name </th>
                <th> Remove from Team </th>
            </tr>

            {{#each players}}

            <tr>
                <th>{{playerName}}</th>
                <th><button data-apiId="{{playerId}}"id="delplayer" type="button">Delete</button></th>
            </tr>
                
            {{/each}}
        </table>
  </div>
  </div>
  </div>

<!--SAVE CHANGES MADE TO YOUR TEAMS-->

  <h3>Update Your Teams{{this.id}}</h3>
  
      <button id="updateteams" type="submit" data-toggle="example-dropdown-bottom-center">Update Team!</button>







<script type="text/javascript">

$(document).ready(function (){

  $(".delplayer").on("submit", function(event) {
      event.preventDefault();
      console.log("clicked");

      deletePlayer();

  });

      //var id = $(this).data("playerid");

    //{{!-- // Send the DELETE request.
    //$.ajax("/api/editplayers/" + id, {
      //type: "DELETE"
   // }).then(
     // function() {
        //console.log("deleted id ", id);
        // Reload the page to get the updated list
       // location.reload();
     // }
    //); --}}

  function deletePlayer(){
    $.delete("/player/" + id, {
        id: id,
    })
  }


 


  $("#updateteams").on("submit", function(event) {
    event.preventDefault();
    console.log("clicked");

    //var id = $("[name=id]").val().trim();

    //var updatedTeam = {
      //team: $("#updateteam [name=team]").val().trim()
    //};
    updateTeam();
  });

  function updateTeam() {
    $.put("/player/" + id, {
      id: id,
    })
  }



    //$.ajax("/api/editplayers/" + id, {
      //type: "PUT",
      //data: updatedTeam
    //}).then(
      //function() {
        //console.log("updated id ", id);
        // Reload the page to get the updated list
        //location.reload();
      //}
    //);
  
})  
</script>

<script src="../public/js/editteams.js" type="text/javascript"></script>





<!-- 
  db get call using teamid to get player names 
  table of player names with remove buttons 
  remove button functionality 
  db delete call to delete player from db


  replace search with table of availabe players with add buttons copy from buildteam
  add button functionality 
  db create player 
  