<div> 
  {{>navbar/nav}}
</div>


<h2>Edit Teams</h2>

<!--lIST OF PLAYERS, DELETE BUTTON IS LOCATED NEXT TO EACH PLAYER-->

<ul class = "player_list">
  {{#each player}}
    <li>
        <p>
            {{this.id}}. {{this.player}}

            <button data-playerid="{{this.id}}" class="delplayer">Delete</button>
        </p>
    </li>
  {{/each}}
</ul>

<!--SAVE CHANGES MADE TO YOUR TEAMS-->

<h2>Update Your Teams with an id of {{this.id}}</h2>
<form id="updateteams" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="team" placeholder="Which team would you like to edit?"></textarea>
	<button type="submit">Update Team!</button>
</form>


<form id= "searchplayers" class= "button-size">
  <input id="player-name" type="text" placeholder="Search">
  <textarea type="text" name="player" placeholder="Search player"></textarea>
  <button type="submit">Search</button>
</form>
<!--CODE FOR SEARCH ENGINE-->

<script>
  
  $("#searchplayers").on("submit",function (event){
    event.preventDefault();
    console.log("clicked")
    
   var name = $("#player-name").val()

    $.ajax({
      url: "http://api.sportradar.us/wnba/trial/v7/en/league/hierarchy.xml?api_key=226774v99bae546n3skmrm3a"
       
    }).then(function (res){
      console.log(res)
    })
    
  })
</script>






