<div> 
  {{>navbar/nav}}
</div>


<h2>Edit Teams</h2>

<!--lIST OF PLAYERS, DELETE BUTTON IS LOCATED NEXT TO EACH PLAYER-->

<ul class = "player_list">
  {{#each player}}
    <li>
        <p>
            {{this.id}}. {{this.player}}

            <button data-playerid="{{this.id}}" class="delplayer">Delete</button>
        </p>
    </li>
  {{/each}}
</ul>

<!--SAVE CHANGES MADE TO YOUR TEAMS-->

<h2>Update Your Teams with an id of {{this.id}}</h2>
<form id="updateteams" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="team" placeholder="Which team would you like to edit?"></textarea>
	<button type="submit">Update Team!</button>
</form>


<form id= "searchplayers" class= "button-size">
  <input type="text" placeholder="Search">
  <textarea type="text" name="player" placeholder="Search player"></textarea>
  <button type="submit">Search</button>
</form>
<!--CODE FOR SEARCH ENGINE-->



<!--SCRIPT AREA FOR NOW-->

<script type="text/javascript">

  $(".delplayer").on("click", function(event) {
    var id = $(this).data("playerid");

    // Send the DELETE request.
    $.ajax("/api/editplayers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });


  $("#updateteams").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedTeam = {
      team: $("#updateteam [name=team]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/editplayers/" + id, {
      type: "PUT",
      data: updatedTeam
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  
</script>





