<div> 
  {{>navbar/nav}}
</div>


<h2>Edit Teams</h2>

<!--lIST OF PLAYERS, DELETE BUTTON IS LOCATED NEXT TO EACH PLAYER-->

<table class = "player_list">
  {{#each player}}
    <tr>
        <p>
            {{this.id}}. {{this.player}}

            <button data-playerid="{{this.id}}" class="delplayer">Delete</button>
        </p>
    </tr>
  {{/each}}
</table>

<!--SAVE CHANGES MADE TO YOUR TEAMS-->

<h2>Update Your Teams{{this.id}}</h2>
<form id="updateteams" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="team" placeholder="Which team would you like to edit?"></textarea>
	<button type="submit">Update Team!</button>
</form>



<script src="../public/js/editteams.js" type="text/javascript"></script>




