  {{>navbar/nav}}

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <h2>Edit Teams</h2>
      </div>
    </div>
</div>

<!--lIST OF PLAYERS, DELETE BUTTON IS LOCATED NEXT TO EACH PLAYER-->
 <div class="grid-container">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
         <div id="edit-team">
         <table class = "player_list">
    
            <tr>
                <th> Name </th>
                <th> Remove from Team </th>
            </tr>

            {{#each players}}

            <tr>
                <th>{{playerName}}</th>
                <th><button data-apiId="{{playerId}}" class= "alert button" id="delplayer" data-toggle="example-dropdown-bottom-center" type="button">Delete</button></th>
            </tr>
                
            {{/each}}
        </table>
  </div>
  </div>
  </div>

<!--SAVE CHANGES MADE TO YOUR TEAMS-->
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <h3>Update Your Teams{{this.id}}</h3>
      </div>
    </div>
</div>
  
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <button class="button" id="updateteams" type="submit" data-toggle="example-dropdown-bottom-center">Update Team!</button>
      </div>
    </div>
</div>
      







<!--<script src="./js/editTeams.js" type="text/javascript"></script>-->

<script type="text/javascript">

$(document).ready(function (){

  var playerDiv = $(".player-list");
  var id = $(this).data("playerid");

  $("#delplayer").on("click", function(event) {
      event.preventDefault();
      console.log("clicked");
      deletePlayer();

  });

  //function deletePlayer(event) {
  //$.ajax("/api/player/:player_id", {
     // type: "DELETE",
      //data: player
     // }).then(function() {
        //console.log("deleted id", id);
        //location.reload();
    // });
 // }


  $("#updateteams").on("click", function(event) {
    event.preventDefault();
    console.log("clicked");

    
    //updateTeam;
  });

  function updateTeam() {
    $.ajax("/api/player/:" + playerid, {
      type: "PUT",
      data: updatedTeam
    }).then(function(){
        console.log("updated id", id);
        location.reload();
    });
  };
  
});  
</script>

<!--<script src="../public/js/editteams.js" type="text/javascript"></script>-->






  //db get call using teamid to get player names 
  //table of player names with remove buttons 
  //remove button functionality 
  //db delete call to delete player from db


  //replace search with table of availabe players with add buttons copy from buildteam
  //add button functionality 
  //db create player  
  