<div> 
  {{>navbar/nav}}
</div>

<h1>Welcome{{userName}}</h1>

        <!--Start Button inside the picture-->

<div class="card" style="width: 300px;">
  <img src="/public/img/img1.jpg" alt="Basketball">
  <div class="card-section">
    <div>
      <button id="btnStart" class="button" type="button" data-toggle="example-dropdown-bottom-center">Start Here</button>
      <a href="/buildyourteam" style="color: orangered">Build a Team </a>
    </div>
  </div>
</div>


<!-- write javascript to redirect to your teams page if username has a teamid if not redirect to buildyourteam page 
    H1 Welcome Username 
    create get call to recieve the username so it can appear on the page
 -->
<script>
  $(document).ready(function (){

    //variables 
  var yourTeam = $("#btnStart");
  


  yourTeam.on("click", function (event){
    event.preventDefault(event); 
    console.log("clicked started");
//        if (userName === true) {
//        res.render("yourteam")
//        } else {
//        res.render("buildyourteam")
//        }
  });

});

</script>