<!--NAVBAR -->

<h3> Home Page</h3>
<h1>Hoops N Ponytails</h1>

<!--Start Button inside the picture-->

<div class="container">
  <img src="img1.jpg" alt="Basketball">
  <button class="btn">Get Started</button>
</div>