<div> 
  {{>navbar/nav}}
</div>

<h1>Hoops N Ponytails</h1>

        <!--Start Button inside the picture-->

<div class="card" style="width: 300px;">
  <img src="/public/img/img1.jpg" alt="Basketball">
  <div class="card-section">
    <div>
      <button class="button" type="button" data-toggle="example-dropdown-bottom-center">Start Here</button>
    </div>
  </div>
</div>
