<div> 
  {{>navbar/nav}}
</div>

<h3> Home Page</h3>
<h1>Hoops N Ponytails</h1>

<!--Start Button inside the picture-->

<div class="card" style="width: 300px;">
  <div class="card-divider">
    <h4>Hoops And Ponytails</h4>
  </div>
  <img src="public/img/img1.jpg" alt="Basketball">
  <div class="card-section">
    <button class="btn">Get Started</button>
  </div>
</div>