<div> 
  {{>navbar/nav}}
</div>

<!-- <h1>Welcome{{userName}}</h1> <button id="btnStart" class="button" type="button" data-toggle="example-dropdown-bottom-center" hrerf="/buildyourteam">Start Here</button>
       -->

        <!--Start Button inside the picture-->

<div class="card" style="width: 300px;">
  <img src="/assets/img/ball.png" alt="Basketball"/>
  
    <div>
      <a href="/buildyourteam" class="button"style="color: orangered">Build a Team </a>
      
  </div>
</div>


<!-- write javascript to redirect to your teams page if username has a teamid if not redirect to buildyourteam page 
    H1 Welcome Username 
    create get call to recieve the username so it can appear on the page
 -->
<script>
  $(document).ready(function (){

    //variables 
  var yourTeam = $("#btnStart");
  


 
});

</script>


<!-- yourTeam.on("click", function (event){
    event.preventDefault(event); 
    console.log("clicked started");
    checkTeams();
  });
  function checkTeams() {
    $.ajax("/api/userTeam/", {
      type: "GET",
      data: userId
    }).then(function(){
      if (userTeams) {
        window.location("/yourteam");
      }else{
        window.location("/buildyourteam");
      }
    })
  }

  -->