loginpage


<div class = "container">

<div> 
  {{>navbar/nav}}
</div>


<div class = "row">
  <h2>Log In</h2>
    
{{#if message}}
<div class="error">
  <span style="color: red">{{message}}</span>
</div>
{{/if}}

<form class = "login">
<form action="/user" method="post">
  <div class = "form-group">
      <label for = "userNameInput">Username:</label>
      <input type="text" class ="form-control" id="username-input" placeholder ="Username">
  </div>
    
  <button type="submit">Log In</button>
</form>
</form>
<br>

<!--ADDED LINK TO SIGN UP PAGE-->
    <p>Don't have an account? Sign up <a href="./signup.handlebars">here</a></p>

</div>
</div>

<!--CODE IS HERE FOR NOW-->
<script>
var logInForm = $("form.login");
var usernameInput = $("input#username-input");

loginForm.on("submit", function(event) {
  event.preventDefault();
  var userData = {
    username: usernameInput.val().trim(),
  };

  {{!-- if (!userData.username) {
    return;
  } --}}
  

  userLogin(userData.username);
  usernameInput.val("");
});

function userLogin(username) {
  $.post("/api/login", {
    username: username,
  }).then(function() {
    window.location.replace("/home");
  }).catch(function(err) {
    console.log(err);
  });
};
//write get call to check if username is in db 
//post call to change loggin boolean to true 
</script>


