<div class="top-bar" id="responsive-menu"> 
  {{>navbar/nav}}
</div>


<div class = "row">
  <h2>Log In</h2>
    
{{#if message}}
<div class="error">
  <span style="color: red">{{message}}</span>
</div>
{{/if}}


<form class = "login">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Input Label
          <input type="text" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Input Label
          <input type="text" placeholder=".medium-6.cell">
        </label>
      </div>
    </div>
  </div>
</form>

{{!-- <form >
<form action="/user" method="post">
  <div class = "form-group">
      <label for = "userNameInput">Username:</label>
      <input type="text" class ="form-control" id="username-input" placeholder ="Username">
  </div>
    
  <button type="submit">Log In</button>
</form>
</form> --}}
<br>

<!--ADDED LINK TO SIGN UP PAGE-->
    <p>Don't have an account? Sign up <a href="./signup.handlebars">here</a></p>

</div>
</div>

<!--CODE IS HERE FOR NOW-->

<script src="../public/js/index.js" type="text/javascript"></script>




  {{!-- if (!userData.username) {
    return;
  } --}}
  


   


  
<<<<<<< HEAD

{{!-- function userLogin(username) {
=======
{{!-- 
function userLogin(username) {
>>>>>>> 86f1631d2bf950fe3301f766d7f94a687e0e1e34
  $.post("/api/login", {
    username: username,
  }).then(function() {
    window.location.replace("/home");
  }).catch(function(err) {
    console.log(err);
  });
<<<<<<< HEAD
};
//write get call to check if username is in db 
=======
}; --}}
{{!-- write get call to check if username is in db 
>>>>>>> 86f1631d2bf950fe3301f766d7f94a687e0e1e34
//post call to change loggin boolean to true  --}}
</script>


