<div class="top-bar" id="responsive-menu"> 
  {{>navbar/nav}}
</div>

<div class= "row">
    <h2>Sign Up</h2>

{{#if message}}
<div class="error">
  <span style="color: red">{{message}}</span>
</div>
{{/if}}


 <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-4 cell">
         <div class="cell">
             <div class="col-sm-6"></div>
    <form class= "signup">
        <form action="/user" type="text" method="post"></form>
        <div class= "form-group">
            <label for= "userNameInput">Username</label>
            <input type= "username" class= "form-control" id= "username-input" placeholder= "Username">
        </div>

        <button class="button" type="submit" data-toggle="example-dropdown-bottom-center">Sign Up</button>
    </form>

    <br>
        <p>Already a member? Log in <a href="./index.handlebars">here</a></p>

</div>
</div>

<!--CODE HERE FOR NOW-->
<script>
    var signUpForm = $("form.signup");
    var userNameInput = $("input#username-input");

    signUpForm.on("submit", function(event) {
        event.preventDefault();
        var userData= {
        username: userNameInput.val().trim()
        };

        if(!userData.username) {
            return;
        }
        signUpUser(userData.username);
        userNameInput.val("");
    });

    function signUpUser(username) {
        $.post("/api/signup", {
            username: username
        }).then(function(data) {
            window.location.replace("/yourteams");
        }).catch(function(err) {
            console.log(err);
        });
    };

    


</script>