<div> 
  {{>navbar/nav}}
</div>

<h3> Team Challenge</h3>

<form class="challenge-form">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label> Team 1  
          <select>
            <option  for="teamOne" value="husker">Husker</option>
            <option for="teamOne" value="starbuck">Starbuck</option>
            <option for="teamOne" value="hotdog">Hot Dog</option>
            <option for="teamOne" value="apollo">Apollo</option>
          </select>
        </label>  
      </div>
      <div class="medium-4 cell">
        <label>Select Team
          <select>
            <option for="teamTwo"value="husker">Husker</option>
            <option for="teamTwo" value="starbuck">Starbuck</option>
            <option for="teamTwo" value="hotdog">Hot Dog</option>
            <option for="teamTwo" value="apollo">Apollo</option>
          </select>
        </label>  
      </div>
      <div class ='medium-4 cell'> 
        <input for='challengeSubmit' type="submit" value="Challenge">
      </div>
    </div>
  </div>
</form>

<div class="challenge-results" > 
</div>

<script> 
$(document).ready(function (){


  var resultsDiv = $(".challenge-results");
  var resultsCard = $('<div>');
  var cardDivider = $("<div>");
  var cardSection = $("<div>");

  $(".challenge-form").on("submit", function (event) {
    event.preventDefault();
    console.log("clicked");
    
    createResultsCard();
  });

  function createResultsCard(){

    resultsDiv.html("");
    //create tag 
 
  // attributes
    $(resultsDiv).attr("style", "margin: auto, width: 50%,padding: 10px")
    $(resultsCard).attr("class", "card");
    $(cardDivider).attr("class","card-divider");
    $(cardSection).attr("class", "card-section");

  //text for tag 
    $(cardDivider).text("Winner: Team Name ");
    $(cardSection).text("Breakdown of stats winning");

     
  //append tag 
    $(resultsDiv).append(resultsCard,cardDivider,cardSection);

  };

});
</script>