<div> 
  {{>navbar/nav}}
</div>

<h3>View Your Team</h3>
<form class="view-form">
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
        <label>Select a team to view
            <select>
                {{#each team}}
                    <option >{{team.teams}}</option>
                  {{/each}} 
            </select>
        </label>
    </div>
    <div class="cell">
      <div class="card">
        
        <div class="card-section">
            
            </div>
            <!-- Bottom Center -->
            <button class="button" type="submit" data-toggle="example-dropdown-bottom-center">Select</button>
            </div>
        </div>
      </div>
    </div>
</form>
    <div class="cell">
        <label>Your Team
            <div class="view-results" > 
            </div>

            
                <script> 
                    $(document).ready(function (){
                    
                    
                      var resultsDiv = $(".view-results");
                      var resultsCard = $('<div>');
                      var cardDivider = $("<div>");
                      var cardSection = $("<div>");
                    
                      $(".view-form").on("submit", function (event) {
                        event.preventDefault();
                        console.log("clicked");
                        
                        createResultsCard();
                        viewTeams(); 
                      });
                       
                      //compare teams function 
                      function viewTeams(){
                    
                        $.get("/players",{
                          full_name: full_name,
                          points: points, 
                          
                        })
                      }
                       //create the results card 
                      function createResultsCard(){
                    
                        resultsDiv.html("");
                        //create tag 
                     
                      // attributes
                        $(resultsDiv).attr("style", "margin: auto, width: 50%,padding: 10px")
                        $(resultsCard).attr("class", "card");
                        $(cardDivider).attr("class","card-divider");
                        $(cardSection).attr("class", "card-section");
                    
                      //text for tag 
                        $(cardDivider).text(" Team Name ");
                        $(cardSection).text("Breakdown of stats");
                      //append tag 
                        $(resultsDiv).append(resultsCard,cardDivider,cardSection);
                    
                      };
                    
                    });
                    </script>
        </label>
    </div>