{{!-- <div class="top-bar" id="responsive-menu"> --}}
  {{>navbar/nav}}
{{!-- </div> --}}

<div class="grid-container">
  <!-- sub header-->
  <div class="grid-x">
    <header class="cell">
      <h3 class="subheader" style="color: orangered">View Your Team</h3>
    </header>
  </div>

    <!-- select a team drop down cell-->
  <div class="grid-x">
    <div class="cell">
      <form class="view-form">
        {{!-- <label>Select a team to view --}}
          <select>
            {{#each team}}
            <option id = "name">{{team.teams}}</option>
            {{/each}}
          </select>
        {{!-- </label> --}}
        <button class=" alert button" type="submit" data-toggle="example-dropdown-bottom-center" >Select</button>
      </form>
    </div>
    <!-- results cell-->
    <div class="cell">
      <div class="view-results">
       
      </div>
    </div>

  </div>

</div>

{{!-- ------- --}}


<script >
  $(document).ready(function () {

  
    var resultsDiv = $(".view-results");
    var resultsCard = $('<div>');
    var cardDivider = $("<div>");
    var cardSection = $("<div>");

    $(".view-form").on("submit", function (event) {
      event.preventDefault();
      console.log("clicked");
      var createdTeamName = $(this).data("team")
      $.ajax("/api/team/", {
        type: "GET", 
        user: createdTeamName
      }).then(function(){
        console.log("here's your team");
        location.reload();
      });
      
    });
// Anime.js 


  });
</script>

{{!-- --------- --}}



<!-- 
      get call to DB receive all of the teams for this username to populate the dropdown bar 
      get call to api to receive player info: player name number and average point to populate the view results div 
      add edit team button to results 
      on click function for when edit team button clicked redirect to edit teams page
      -->