<div class='backgroundWrapper'>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <header>
          <h1 style="align-content: center;"> Hoops and Ponytails</h1>
        </header>
      </div>
    </div>
</div>

{{!-- class="text-center" --}}

<nav>
  
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
  <div >
    <ul class="menu">
      <li><a href="/index" style="color: orangered">Home </a></li>
      <li><a href="/buildyourteam" style="color: orangered">Build a Team </a></li>
      <li><a href="/yourteam" style="color: orangered">Your Team</a></li>
      <li><a href="/editteams" style="color: orangered">Edit Team</a></li>
      <li><a href="/teamchallenge" style="color: orangered">Team Challenge</a></li>
      
    </ul>
  </div>
  </div>
    </div>
</div>
</div>
</nav>

<style>
  body {
    background-image: url("../img/back3.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    z-index: 0;
}
</style>