
<header>
    <h2> Hoops and Ponytails</h2>
</header>

<nav> 
    <ul>
      <li><a href="views/index.handlebars">Home </a></li>
      <li><a href="/views/editteams.handlebars">Build a Team</a></li>
      <li><a href="#">Your Teams</a></li>
      <li><a href="/views/teamchallenge.handlebars">Team Challenge</a></li>
    </ul>
</nav>