
<header>
    <h2> Hoops and Ponytails</h2>
</header>

<nav> 
    <ul>
      <li><a href="/index">Home </a></li>
      <li><a href="/buildyourteam">Build a Team </a></li>
      <li><a href="/yourteam">Your Team</a></li>
      <li><a href="/editteams">Edit Team</a></li>
      <li><a href="/teamchallenge">Team Challenge</a></li>
      
    </ul>
</nav>