
<header>
    <h2> Hoops and Ponytails</h2>
</header>

<nav> 
    <ul>
      <li><a href="#">Home </a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Build a Team</a></li>
      <li><a href="#">Your Teams</a></li>
      <li><a href="#">Team Challenge</a></li>
    </ul>
</nav>