<div class='backgroundWrapper'>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <header>
          <h1 style="align-content: center;"> Hoops and Ponytails</h1>
        </header>
      </div>
    </div>
</div>

{{!-- class="text-center" --}}

<nav>
  
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
  <div >
    <ul class="menu">
      <li><a href="/index" style="color: orangered">Home </a></li>
      <li><a href="/buildyourteam" style="color: orangered">Build a Team </a></li>
      <li><a href="/yourteam" style="color: orangered">Your Team</a></li>
      <li><a href="/editteams" style="color: orangered">Edit Team</a></li>
      <li><a href="/teamchallenge" style="color: orangered">Team Challenge</a></li>
      
    </ul>
  </div>
  </div>
    </div>
</div>
</div>
</nav>

<style>
  body {
    background-image: url("/assets/img/back3.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    z-index: 0;
}
</style>

{{!-- <div id = "animation">
      <img src="ball.png" class="basketball"></img>
      <!-- <img src="hoop.png"class="hoop"></img> -->
      <img class='player' src="WNBA.png"></img>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" width="645" height="525" viewBox="0 0 645 525">
    <g id="Ellipse_1" data-name="Ellipse 1" opacity ='0' fill="none" stroke="#707070" stroke-width="1">
      <ellipse cx="322.5" cy="262.5" rx="322.5" ry="262.5" stroke="none"/>
      <ellipse cx="552.5" cy="362.5" rx="322" ry="262" fill="none"/>
    </g>
  </svg> --}}