<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <header>
          <h1 style="align-content: center;"> Hoops and Ponytails</h1>
        </header>
      </div>
    </div>
</div>


<nav>
  {{!-- <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 small-4 cell">
              <h1> Hoops and Ponytails</h1>
            </div>
            <div class="large-1 medium-1 small-1 cell">
              <div class="primary callout">
                <p><a href="/index" class="button">Home </a></p>
              </div>
            </div>
            <div class="large-1 medium-1 small-1 cell">
              <div class="primary callout">
                  <p><a href="/buildyourteam" class="button">Build a Team </a></p>
              </div>
            </div>
            <div class="large-1 medium-1 small-1 cell">
              <div class="primary callout">
                <p><a href="/yourteam" class="button">Your Team</a></p>
              </div>
            </div>
            <div class="large-1 medium-1 small-1 cell">
              <div class="primary callout">
                <p><a href="/editteams" class="button">Edit Team</a></p>
              </div>
            </div>
            <div class="large-2 medium-2 small-2 cell">
              <div class="primary callout">
                <p><a href="/teamchallenge" class="button">Team Challenge</a></p>
              </div>
            </div>
</div> --}}
  <div class="card">
    <ul class="menu">
      <li><a href="/index">Home </a></li>
      <li><a href="/buildyourteam">Build a Team </a></li>
      <li><a href="/yourteam">Your Team</a></li>
      <li><a href="/editteams">Edit Team</a></li>
      <li><a href="/teamchallenge">Team Challenge</a></li>
      
    </ul>
  </div>
</nav>

